.car__item {
    border: 1px solid #7c8a9736;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(rgba(158, 14, 14, 0.9), rgba(218, 218, 218, 0.9));
}

.section__title {
    color: #000d6b;
    font-size:1.4rem;
}

.section__title:hover{
    color:#fff;
}

.car__item-info span{
    color: rgb(158, 14, 14);
    font-size:1rem;
    padding: 2px;
}

.car__item-info:hover{
    color: #f9a826;
}

.car__item-btn {
  border-radius: 0;
  border: none;
  outline: none;
  background:#9e0e0e ;
  padding: 8px 0px;
}

.car__item-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.car__item-btn a:hover {
  color: black;
}
.car__btn-details {
  background: #f9a826;
  border-radius: 0px 4px 4px 0px;
}

.car__btn-rent {
  border-radius: 4px 0px 0px 4px;
}

.car__item-content h4 {
  font-size: 1.8rem;
}

.car__item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .car__item h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .car__item h6 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .car__item-info {
    flex-wrap: wrap;
  }

  .car__item-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .car__item-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .car__item h4 {
    font-size: 1rem;
  }

  .car__item h6 {
    font-size: 0.9rem;
  }

  .car__item-info span {
    font-size: 0.7rem;
  }

  .car__item-info span i {
    font-size: 0.9rem;
  }

  .car__item-btn {
    font-size: 0.8rem;
  }
}