/*------- Style For Header Top --------*/
.header {
  position: relative;
}

.header__top{
    padding:10px 0px;
    background:#9e0e0e;
    color:#fff;
}

.header__top__left{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.header__top__left span{
    font-size: 0.9rem;
}

.header__top__help{
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

.header__top__help i {
    background: #fff;
    color: #9e0e0e;
    padding: 2px 4px;
    border-radius: 50px;
    font-size: 0.7rem;
  }

  .header__top__right a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    transition: 0.3s;
  }
  
  .header__top__right a:hover {
    color: #f9a826;
  }
  
  /*------------------Style For Middle Header -------------*/
  
  .header__middle{
    padding: 20px 0px;
  }

  .logo h1 a span {
    font-size: 1.5rem;
  }

  .logo h1 a i {
    font-size: 2.2rem;
  }

  .logo h1 a{
    text-decoration: none;
    color:#9e0e0e;
    font-weight: 700;
  }

  .logo h1{
    line-height: 1.5rem;
  }

  .header__location span i {
    font-size: 2.2rem;
    color: #9e0e0e;
  }
  
  .header__location-content h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #9e0e0e;
  }
  
  .header__location-content h6 {
    font-weight: 600;
    color: #9e0e0e;
  }
  

  .header__btn {
    background: #9e0e0e !important;
    padding: 20px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  .header__btn a {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    text-decoration: none;
    color: #fff;
    justify-content: flex-end;
    font-size: 0.8rem;
    transition: 0.3s;
  }
  
  .header__btn a:hover {
    color: #f9a826;
  }
  
  /*-------------- Main NavBar Styles -------------*/

  .main__navbar {
    padding:15px 0px;
    background: #9e0e0e;
  }


  .menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
  }

  .nav__item {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }

  .nav__item:hover{
    color: #f9a826;
  }

  .search__box{
    border: 1px solid #977c7c2f;
    padding:7px 12px;
    display:flex;
    align-items:center;
    border-radius: 50px;
    background: #4d0202e9;
  }

  .search__box input{
    background: transparent;
    border: none;
    outline: none;
    color:#fff;
    cursor:pointer;
  }

  .search__box input::placeholder{
    font-size: 0.8rem;
  }

  .search__box span i{
    color:rgba(255, 255, 255, 0.555);
    cursor: pointer;
  }

  .car__listings {
    background: #4d0202e9;
    position: absolute;
    top: 95%; 
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    z-index: 999; 
    max-height: 200px; 
    overflow-y: auto; 
  }

  .car__listings ul {
    list-style: none; 
    padding: 0; 
  }
  
  .car__listings ul li a {
    text-decoration: none; 
    color: yellow; 
    display: block; 
    padding: 8px 12px; 
  }
  
  .car__listings ul li a:hover {
    background-color: #067100; 
  }

  .nav__active{
    color:#f9a826;
  }

  .mobile__menu{
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .header__top,
    .header__middle,
    .nav__right {
      display: none;
    }

    .mobile__menu{
      display: flex;
     cursor: pointer;
    }


    .navigation {
        background: rgba(107, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        display: none;
      }
    
  
      .menu {
        width: 250px;
        height: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
        justify-content: center;
      }
    
      .menu a {
        color: #9e0e0e;
        font-weight: 600;
        font-size: 0.9rem;
      }
    
      .menu__active {
        display: block;
      }
}

