.service__container {
  background-color: #f7efef;
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(237, 219, 219);
  background: linear-gradient(rgba(239, 223, 223, 0.9), rgba(204, 204, 204, 0.9));
  background-position: center;
  background-repeat: no-repeat;
  background-size:100%;
}

.service__item span i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #f9a826;
}

.service__item h6 {
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.3s;
}

.service__item h6:hover {
  color: #f9a826;
}

.first__column {
  padding: 0px 0px 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(205, 149, 149);
}
.service__description {
  padding: 0px 0px 0px 0px;
  display: flex;
  text-align: justify;
  justify-content: center;
  color: #5f6871;
  line-height: 30px;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .service__container{
    display:inline-flex;
    align-items: center;
    justify-content: center;
  }
  .service__item h6 {
    font-size: 1.1rem;
  }

  .first__column{
    border-right: none;
  }
}
