
/*------------ Google Fonts -----------*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

/*----------- Base Style -------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

/*-------------- Predefine CSS -----------*/

h1,h2,h3,h4,h5,h6 {
    color:#9e0e0e;
    font-weight: 600;
}

h3,h4{
    font-size: 1.8rem;
}

h5,h6{
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    color:unset;
}

a:hover{
    color: unset;
}

ul{
    margin: 0;
    list-style: none;
}

.section__title{
    color:#9e0e0e;
    font-weight: 600;
    font-size: 2rem;
}

.section__subtitle{
    color:#f9a826;
    font-weight: 600;
    font-size: 1.2rem;
}

.section__description{
    color:#7c8a97;
    font-size: .9rem;
    line-height: 30px;
}

section{
    padding: 50px 0px;
}

.btn{
    padding: 7px 15px;
    background-color: #9e0e0e;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .3s;
}

.btn:hover{
    color:#fff;
    background: #6b0000d0;
}

@media only screen and (max-width:768px){
    section{
        padding: 30px 0px;
    }

    .section__title{
        font-size: 1.6rem;
    }

    .section__subtitle{
        font-size: 1.1rem;
    }
}